$color-bg-primary: #fff;
$color-bg-secondary: #033E67;
$color-primary: #fff;

//border-colors
$border-color: #e5e5e5;
$color-input-border: #e0d8d8;
$color-border-focus: #719ece;

//button-colors
$color-button-bg:#4361EE;
$color-button-primary: #fff;

$xs: 360px;
$sm: 420px;
$md: 770px;
$mx: 970px;